{% extends '::base.html.twig' %}

{% block body %}
    <iframe width="100%" height="500" frameborder="0" style="border:2px" src="https://www.google.com/maps/embed/v1/place?q=%D0%90%D0%BA-%D0%A1%D1%83%D0%B9%D1%81%D0%BA%D0%BE%D0%B3%D0%BE%20%D1%80%D0%B0%D0%B9%D0%BE%D0%BD%D0%B0&key=AIzaSyD765HRuGAVuk_T82hRfRAptP-g7S495aA" allowfullscreen></iframe>
{% endblock %}

