
    <div  class="container-fluid fcont">
        <div class="column1 col-xs-4 col-sm-offset-2">
            <h2>Социалдык тармактар</h2>
            <ul class="style1">
                <li class="first"><a href="#">Twitter</a></li>
                <li><a href="http://www.facebook.com">Facebook</a></li>
                <li><a href="http://www.LinkedIn.com">LinkedIn</a></li>
                <li><a href="http://www.google.com">Google +</a></li>
                <li><a href="http://www.instagram.com">Instagram</a></li>
            </ul>
        </div>
        <div class="column2 col-xs-5 col-sm-offset-1">
            <h2><strong>Биздин дарек</strong></h2>
            <ul class="style1">
                <li> Ак-суу району</li>
                <li>Facebook</li>
                <li>Кыдыр-Аке. №46</li>
                <li>  Телефон: (0-3948) 9-15-88 </li>
                <li>  Факс:9-11-33</li>
            </ul>
        </div>
    </div>
