@import url(https://fonts.googleapis.com/css?family=Roboto+Slab:400,300,100,700&subset=latin,cyrillic);
body{
    font-family: 'Roboto Slab', serif !important;

}


.buttonspend{

    height: 24px;
    color:black;
    text-align: center;
    margin-top: 10px;
    width: 100%;
    padding-bottom: 24px;
}
.header {
    height: 200px;
    width: 100%;
    background-image:url('../img/head12.jpg');

}

.header h2{
    margin-top: 36px;
    color:white;
}
.top-menu{
    width: 100%;
    height: 50px;
    background-color: rgba(7, 40, 68, 0.44);;
    color: white;
    margin-bottom: 0px;
}

.navbar{
    margin-bottom: 10px;
    margin-top: -50px;
}
.navbar-default .navbar-nav > li > a:focus, .navbar-default .navbar-nav > li > a:hover {
    color: #337ab7;
    background-color: white;
}
.navbar-default {
    /*background-color: #f8f8f8;*/
     border-color: transparent;
}

.navbar-default .navbar-nav > li > a{
    color:white;
}

.Corous{
    padding-left: 0;
    padding-right: 0;
}

.carousImg img{
    width: 100%;
}

.newsBack{
    background-color:#ECECEC;
}

.newsBack1 h5{
    font-size: 15px;
    color:#337ab7 !important;
}

.newsBack1 h5 a:hover{
    back-color:#0e3759 !important;
}

.nav-pills{
    background-color:rgb(51, 122, 183);
    padding-left: 0;
    padding-right: 0;
}

.nav-pills a{
    color:white;
}


.nav-pills li hr{
    margin-bottom: 0;
    margin-top: 0;
}

.col-md-3 a:hover{
    color:white;
    background-color: #0e3759 !important;
}

.fcont{
    background-color: #072640;
    color: white;
    margin-top: 34px;
}

.fcont li, a{
    color:white;
}

.fcont-column1  li, a:hover{
    color: black;
}
.footer-bg{
    width:100% ;
    height:auto;
    text-align: center;
    background-color: #2fe724;
    margin-bottom:35px;
}